<!DOCTYPE html>
html(lang="en")
    head
        block basetag
            -var base = '.'
        base(href=`${base}`)
        <!--[if IE]>
            script(type="text/javascript").
                // Fix for IE ignoring relative base tags.
                (function() {
                    var baseTag = document.getElementsByTagName('base')[0];
                    baseTag.href = baseTag.href;
                })();
        <![endif]-->
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FAO Conjunto de Herramientas para la Gestión Forestal Sostenible (GFS)
        link(rel="stylesheet", href="css/layout.css")
        link(rel="stylesheet", href="css/appearance.css")
        script(src="scripts/main.js", language="javascript", defer="defer")
        block scripts

    body
        header
            a(href="index.html")
                img(id="faologo", src="images/FAO_logo.svg", alt="FAO Logo")
                h1(id="tb_title") FAO Conjunto de Herramientas para la Gestión Forestal Sostenible (GFS)
                
            form(action="search/index.html", method="get")
                input(id="q", type="text", name="q", placeholder="search")
                input(id="sub" type="submit", value="Go")

            block nav
        main
           
            block content